.off-canvas-wrapper-inner{"data-off-canvas-wrapper" => ""}
  #my-info.off-canvas.position-left.reveal-for-large{"data-off-canvas" => "", "data-position" => "left"}
    .row.column
      %br/
      = image_tag "camper.png"
      = link_to root_path do
        %h5 CampCR
      %ul
        = link_to photos_path do
          %li All
        = link_to new_photo_path do
          %li New
  = yield
