.header-msg
  .row
    .column
      = render "partials/flashes"
      %h1 Welcome to CampCR!
      %p.lead This is a photo journey of our adventures while traveling across country in our camper.
      %p Take a look around. You'll see the latest few photos below. To see them all click on All!
.main-content-container
  .row
    - @most_recent.each do |photo|
      .large-6.columns.photo-grid-item
        %h2= photo.title
        %p= photo.pretty_date
        - if current_admin
          = link_to "Edit", edit_photo_path(photo)
          = link_to "Delete", photo, method: :delete, data: {confirm: "You sure?"}
        = image_tag photo.image.large, alt: photo.title
        %p= photo.description
