%h1 Photos#new
%p Find me in app/views/photos/new.html.haml
= simple_form_for @photo, html: {multipart: true}  do |f|
  .row
    = f.input :title
    = f.input :description
    = f.input :date_taken, as: :date
    = f.input :image, as: :file
    = f.button :submit, "Add Photo"
