.header-msg
  .row
    .column
      = render "partials/flashes"
      %h1= @photo.title
.main-content-container
  .row
    .column
      = image_tag @photo.image.large.url, alt: @photo.title
      %p= @photo.description
      - if current_admin
        = link_to "Edit", edit_photo_path(@photo)
        = link_to "Delete", @photo, method: :delete, data: {confirm: "You sure?"}
