!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    :javascript
      $(function(){ $(document).foundation(); });
    .off-canvas-wrapper
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash#{name}"
      = render "partials/navigation"
